# Telegram Bot Configuration
# BotFather-ден алынған токен
TELEGRAM_BOT_TOKEN=8761157236:AAE-CHdO5rChkdiRCMU8gH_QgmRiHuW4FZo

# Telegram chat ID (пайдаланушы немесе топ)
TELEGRAM_CHAT_ID=7295810780

# Flask Configuration
FLASK_ENV=development
FLASK_DEBUG=True
SECRET_KEY=your-secret-key-here-change-in-production

# Model Configuration
MODEL_PATH=./models/saved_models
DEFAULT_MODEL=random_forest

# Database
DATABASE_PATH=./data/ids_database.db

# Alert Threshold (0.0 - 1.0)
# Бұл мәннен жоғары ықтималдықта Telegram-ға хабарлама жіберіледі
ALERT_THRESHOLD=0.7
